.pagination_section {
    position: absolute;
    top: 500px;
    right: 230px;
}
/* pagination styling */
 
.pagination_section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
}
/* pagination hover effect on non-active */
 
.pagination_section a:hover:not(.active) {
    background-color: #031F3B;
    color: white;
}
/* pagination hover effect on active*/
 
a:nth-child(2) {
    background-color: green;
    color: white;
}
 
a:nth-child(1) {
    font-weight: bold;
}
 
a:nth-child(7) {
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .actives {
    background-color: #04AA6D;
  }


  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }